<div class="clearfix" id="container">

  <div id="splash-info">
    <a href="/"><div class="page-header">
      <h1>QuickStudy</h1>
    </div></a> <!-- page-header -->

      <div>
        <%= form_tag(session_path) do %>
          <%= label_tag(:username) %><br>
          <%= text_field_tag(:username) %><br>
          <%= label_tag(:password) %><br>
          <%= password_field_tag(:password) %><br><br>
          <%= submit_tag('submit')  %>
        <% end %>
      </div>
      <br>
      <div class="signup">
        <p>not already a member? <%= link_to('Sign up!', new_user_path) %></p>
      </div>

    </div><!-- splash-info -->

  <div id="splash-sample">
    <div class="sample">
      <div class="card">
        <div  class="flashcard-front">
          <p>Flash Card</p>
        </div>
        <div class="flashcard-back">
          <p>A card containing a small amount of information, held up for students to see, as a learning aid.</p>
        </div>
      </div>
    </div>
  </div><!--splash sample-->
</div><!-- container -->
