<div class="page-header">
  <h1>QuickStudy</h1>
</div>
<p id="notice"><%= notice %></p>
<p><%= current_user %></p>
<% if current_user %>
  <div id="form-model">
    <div id="new-card-form">
      <input id="card-question-input" type="text" name="question" placeholder="question">
      <input id="card-answer-input" type="text" name="answer"placeholder="answer">
      <button id="add-card-button">add a card</button>
    </div>
  </div>
  <header>
  <h1 id="user-logged-in"><%= current_user.user_name %></h1>
  <%= link_to 'sign out', logout_path %>
  </header>
  <div id="card-container">
    <section id="stacks-list">
      <h1>Stacks</h1>
      <span class="new-stack">+ new stack</span>
      <div id="new-stack-popup">
        <input id="new-stack-popup-input" type="text" placeholder="category">
        <button id="new-stack-button">+</button>
      </div>
  <% current_user.stacks.each do |stack| %>
      <div class="stack" data-id="<%= stack.id %>">
        <div class="stack-name"><%= stack.name %></div>
        <div class="stack-quantity"> <%= stack.cards.count %> cards</div>
        <div class="stack-options">
          <span class="delete" id="delete-stack">delete</span>
      </div>
  <% end %>
    </section>
  </div>
  <% else %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Home', root_path %>
<%= link_to("Logout", session_path, method: :delete) %>
<% end %>
