<div class="clearfix" id="container">

  <!-- stack side -->
  <div id="splash-info">

    <!-- header -->
    <div class="page-header">
      <h1>QuickStudy</h1>
    </div>
    <p id="notice"><%= notice %></p>
    <p id="welcome-user">Welcome, <%= @user[:username] %></p>

    <div id="breadcrumbs">
      <%= link_to 'Create a Stack', new_stack_path %> |
      <%= link_to 'Edit Profile', edit_user_path(@user) %> |
      <%= link_to("Logout", session_path, method: :delete) %>
    </div>

    <!-- STACKS -->
    <div id="list-stacks"></div>
  </div>

  <!-- card side -->
  <div id="splash-sample">
    <div class="sample">

      <!-- CARD(s) -->
      <div class="card" id="flashcard">
        <div class="index flashcard-front"></div>
        <div class="flashcard-back"></div>
      </div>

    </div>
  </div>

</div>

<script type="text/template" id="stack-template">
  <br>
  <li>
    <p id="stack-list-text"><%%= stack.category %></p>
  </li>
</script>

<script type="text/template" id="card-front-template">
  <p class="card-front-text hidden"><%%= card.question %></p>
</script>

<script type="text/template" id="card-back-template">
  <p class="card-back-text hidden"><%%= card.answer %></p>
</script>



