<div class="page-header">
  <h1>QuickStudy</h1>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>Stack</th>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.question %></td>
        <td><%= card.answer %></td>
        <td><%= card.stack_id %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
<script type="text/template" id="card-template">
  <li data-completed="<%%= card.completed ? "true" : "false" %>">
    <span class="question<%%= card.completed ? " completed" : "" %>">
      <%%= card.question %></span>
    <input type="checkbox"  <%%= card.completed ? "checked" : "" %>/>
    <span class="remove">&times;</span>
  </li>
</script>

<br>

<%= link_to 'New Card', new_card_path %>
